{%extends 'base.html'%}
{%block title%}Petcare Home{%endblock title%}
{%block content%}
    <h1 class="display-4   font-italic">Pet's whom we love the most, 
      should be taken care of the most - Petcare</h1>
    <p class="lead my-2">Hi there! we are a new company working towards
       the love of your pet's, we care the most. Believe us, we are the 
       best goods and service providers for your pet's.
    </p>
    <p class="lead mb-2"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
{%endblock content%}  