{%extends 'base.html'%}
{%block title%}Change password{%endblock title%}
{%block content%}
<body class="d-flex h-100 text-center text-white">
    <h3 class="display-4 font-italic">Fotgot your password</h3>
    <h4>Hurrey ! Password reset succesfully</h4>
    <p>Hi ! You have succesfully changed your password, now you can
        once again login your account using your new password, and
        enjoy using our service<br>
        ***** Thankyou for using our service *****
    </p>
{%endblock content%}